<h1 class="page-header">About</h1>

<img src="../../../assets/images/front-view.webp" class="about_us--photo" alt="house">
<div>
    <p>
        Mongeau Renovations is a full-service general contracting company dedicated to integrity, quality, and
        personalized
        service. We offer a comprehensive range of services to enhance your home and elevate your lifestyle, always
        keeping
        your needs and dreams at the forefront.
    </p>
    <p>
        At Mongeau Renovations, we pride ourselves on our expertise in various aspects of home improvement, including
        Plastering/Stucco, Carpentry, Roofing, Landscaping, Flooring/Tiling, Masonry, Concrete, Vinyl Siding, Seamless
        Gutters,
        Metal Wrap, Power Washing, Windows/Doors, Plumbing, Electrical, and Decks.
    </p>
    <p>
        Our goal as a general contractor is to help clients bring their vision to life with unparalleled attention to
        detail,
        ensuring that our work stands out in the industry for its outstanding quality and craftsmanship.
    </p>
    <p>
        Our clients expect and deserve excellence. With years of experience, a deep-rooted passion for our craft, and an
        unwavering commitment to precision, Mongeau Renovations consistently delivers the exceptional results you seek.
    </p>
    <p>
        Through trust and collaboration, we strive to build lasting relationships with our clients, ensuring that
        Mongeau
        Renovations remains the go-to choice for all your home improvement needs in the community.
    </p>
</div>

<div class="about_us-profile_cards">
    <div class="about_us-profile_card" *ngFor="let profile of profiles">
        <div class="about_us-profile_card--picture---wrapper">
            <img src="{{profile.picture_path}}" alt="{{profile.name}} / {{profile.title}} - profile picture"
                class="about_us-profile_card--picture">
        </div>
        <div class="about_us-profile_card--details">
            <h3 class="about_us-profile_card--details---name">{{profile.name}}</h3>
            <h4 class="about_us-profile_card--details---title">{{profile.title}}</h4>
        </div>
    </div>
</div>