<ul class="nav-list">
    <li class="nav-list--item"><a routerLinkActive="active-link" [routerLink]="['/home']">Home</a></li>
    <li class="nav-list--item"><a routerLinkActive="active-link" [routerLink]="['/projects']">Projects</a></li>
    <li class="nav-list--item"><a routerLinkActive="active-link" [routerLink]="['/about']">About</a></li>
    <li class="nav-list--item"><a routerLinkActive="active-link" [routerLink]="['/services']">Services</a></li>
    <li class="nav-list--item"><a routerLinkActive="active-link" [routerLink]="['/testimonials']">Testimonials</a></li>
    <li class="nav-list--item"><a routerLinkActive="active-link" [routerLink]="['/contact']">Contact</a></li>
</ul>