.nav-list {
    // position: -webkit-sticky;
    position: sticky;
    top: 3rem;

    padding: unset;
    text-align: center;

    &--item {
        list-style-type: none;
    }

}

a.active-link {
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 425px) {
    .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &--item {
            margin: 0.5rem 1rem;

            &>a {
                margin-bottom: unset;
            }
        }
    }
}