<div class="slogan">
    Building Lasting Relationships and Beautiful Homes: Where Trust and Expertise Come Together
</div>

<div class="hours">
    <div class="hours-title">Working Hours</div>
    <table class="hours-table">
        <tr>
            <td>Mon-Fri</td>
            <td>9:00 AM - 6:00 PM</td>
        </tr>
        <tr>
            <td>Sat</td>
            <td>9:00 AM - 3:00 PM</td>
        </tr>
        <tr>
            <td>Sun</td>
            <td>Closed</td>
        </tr>
    </table>
    <p>
        Call or Text Anytime: <a class="phone-link" href="tel:+14014149429">401-414-9429</a>
    </p>
</div>

<div class="copyright">
    <p>
        All content © Copyright {{currentYear}}
    </p>
    <p>
        Mongeau Renovations Inc.
    </p>
</div>